.post{
    margin-top: 40px;
    width: 80%;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "img name"
    "img message";
}

.image{
    margin-bottom: auto;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
    grid-area: img;
}

.name{
    grid-area: name;
    font-size: 22px;
    font-weight: 600;
}

.message{

}